{% extends "base" %}

{% block content %}
    <main role="main" class="container">
        <img src="{{ alias('@assetsUrl/images/logo.svg') }}" alt="a-design" width="200" height="200">

        <h1>Contact Us</h1>
        {{ entry.richText }}
    </main>
{% endblock %}
